$bgColor: #dcbb9a;
$bgTextColor: #fadcba;
$bgContentColor: #ffffff;
$hColor: #893c00;
$textColor: #000000;
$h1Align: center;
//brief
$bWidth: 390px;
$bPadding: 15px;
$bMargin: 4px 15px 0 0;
$bBgColor: #dcbb9a;
$bHeight: 60px;
$bTextColor:#000000;
$bFloat:left;
//img
$borderedColor: #893c00;
//a
$linkColor:#3d70a1;
//table
$tdBorderColor:#e0e0e0;
$trTableColor: #ffffff;
$captionColor: #000000;
$tableThColor: #e0e0e0;
$textInsideTable: #e0e0e0;
//button
$buttonBorderColor:#3d70a1;
$buttonTextColor:#3d70a1;
//labelText
$labelText:#808080;
